:root {
  --text-base: #1c1c1e;
  --color-primary: #063941;
  --text-white: #ffffff;
  --danger-red: #f42424;
  --base-yellow: #f9ab10;
  --smooth-grey: #767171;
  --font-primary-light: 300;
  --font-primary: 400;
  --font-primary-md: 500;
  --font-primary-bold: 700;
  --font-primary-md-bold: 800;
}

.section {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  width: 100%;
  height: auto;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans/NunitoSans-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans/NunitoSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans/NunitoSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans/NunitoSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans/NunitoSans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans/NunitoSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans/NunitoSans-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

body {
  min-height: 100%;
  font-family: 'NunitoSans', Helvetica, Arial, sans-serif;
  background-color: #fcfcfd;
  color: #18181e;
  margin: 0;
  padding: 0;
}

.dark body {
  background-color: #09090b;
}

.sepia body {
  background-color: #f1e7d0;
  color: #433422;
}

.sidebar {
  background-color: var(--color-primary);
}

h2 {
  font-size: 24px;
  font-weight: var(--font-primary-bold);
}

.dark h2 {
  color: #fff;
}

h3 {
  font-size: 16px;
  font-weight: var(--font-primary-md);
}

.dark h3 {
  color: #fff;
}

.p-bold {
  font-weight: var(--font-primary-bold);
}

.dark p {
  color: #fff;
}
